# Sharks attack

## 1.- Data cleaning

           

Let's begin importing the libraries necesary to conduct this project.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re

The csv file with all the shark attack information is located in the shark-attack folder of the repo. We load the data using Pandas

In [2]:
sharks = pd.read_csv("../shark-attack/attacks.csv", index_col=0, encoding = "ISO-8859-1") #encoding = "utf-8"

Now let's see how the database is organized using .head() and .info(). This will allow us to decide how to prepare the data cleaning process.

In [3]:
sharks.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
Case Number,,,,,,,,,,,,,,,,,,,,,
2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25723 entries, 2018.06.25 to xx
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6302 non-null   object
 1   Year                    6300 non-null   float64
 2   Type                    6298 non-null   object
 3   Country                 6252 non-null   object
 4   Area                    5847 non-null   object
 5   Location                5762 non-null   object
 6   Activity                5758 non-null   object
 7   Name                    6092 non-null   object
 8   Sex                     5737 non-null   object
 9   Age                     3471 non-null   object
 10  Injury                  6274 non-null   object
 11  Fatal (Y/N)             5763 non-null   object
 12  Time                    2948 non-null   object
 13  Species                 3464 non-null   object
 14  Investigator or Source  6285 non-null   object
 15  pdf                     6302 non-null   object
 16  href formula            6301 non-null   object
 17  href                    6302 non-null   object
 18  Case Number.1           6302 non-null   object
 19  Case Number.2           6302 non-null   object
 20  original order          6309 non-null   float64
 21  Unnamed: 22             1 non-null      object
 22  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(21)
memory usage: 4.7+ MB

1.- Having a look at the column names, We will rename three of them, as for two of them ("Sex ", "Species ") there is an extra space at the end of the column name. The other, "Fatal (Y/N)", we will rename it as just "Fatal".

In [5]:
sharks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
sharks=sharks.rename(columns={"Sex ": "Sex", "Species ": "Species", "Fatal (Y/N)": "Fatal"})

2.- Now we will drop the colums with almost all values NaN, that are 'Unnamed: 22' and 'Unnamed: 23'

In [7]:
sharks=sharks.drop(columns=['Unnamed: 22', 'Unnamed: 23'])

3.- There are as well columns with almost exact information ('Case Number.1'/'Case Number.2' and  'href formula'/'href'). So we eliminate one of each pair and rename the remaining one.

In [8]:
sharks=sharks.rename(columns={"Case Number.1": "Case Number", "href ": "link"})
sharks=sharks.drop(columns=['href formula', 'Case Number.2'])

4.- From the date column, we extract the information of the month (the year is in another table, and we are not going to work with the exact day of the year). To do so, we use regex to find the month information in each column. For a fraction of them, this information is not available, so we mark them with "Unk" (unknown). 

The information with NaN is marked afterwards with "Unk" as well to fill these points in the dataframe.

In [9]:
def find_month(string):
    months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
    #If it founds the info of a month, it returns it as an output of this cleaning function
    try:
        for month in months:
            if re.search(month,string):
                return month
    except TypeError:
        pass

sharks['Month'] = sharks['Date']    
sharks['Month'] = sharks['Date'].apply(find_month)
sharks['Month'].fillna(value="Unk",inplace=True)

5.- Now we are going to clean the "Type" column, so we group all boat related incidents in the "Boating" category. We also gropup all "Questionable" and "Invalid" categories into "Unknown", as well as the NaN data.

In [10]:
sharks["Type"].unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [11]:
sharks['Type'].fillna("Unknown",inplace=True)
sharks['Type'] = sharks['Type'].apply(lambda x: "Boating" if x == "Boat" else x)
sharks['Type'] = sharks['Type'].apply(lambda x: "Boating" if x == "Boatomg" else x)
sharks['Type'] = sharks['Type'].apply(lambda x: "Unknown" if x == "Questionable" else x)
sharks['Type'] = sharks['Type'].apply(lambda x: "Unknown" if x == "Invalid" else x)

6.- Now we reformat the information about the gender information in the database, as there are son extra spaces and wrong inputs.

In [12]:
sharks["Sex"].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [13]:
sharks['Sex'].fillna("UNKNOWN",inplace=True) 
sharks['Sex'] = sharks['Sex'].apply(lambda x: "M" if x == "M " else x)
#The rest of them as I checked I prefer to group them in the UNKNOWN category
sharks['Sex'] = sharks['Sex'].apply(lambda x: "UNKNOWN" if x == "N" else x)
sharks['Sex'] = sharks['Sex'].apply(lambda x: "UNKNOWN" if x == "lli" else x)
sharks['Sex'] = sharks['Sex'].apply(lambda x: "UNKNOWN" if x == "." else x)

7.- In the case of the "Fatal" column, we rename some values to group them in the same category. There are two inputs that, looking at the other columns, they are non fatal, so we mark them like thar. The NaN rows are filled with "UNKNOWN" values

In [14]:
sharks["Fatal"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [15]:
sharks['Fatal'].fillna("UNKNOWN",inplace=True) 
sharks['Fatal'] = sharks['Fatal'].apply(lambda x: "N" if x == " N" else x)
sharks['Fatal'] = sharks['Fatal'].apply(lambda x: "Y" if x == "y" else x)
#As they were only a few, I checked them
sharks['Fatal'] = sharks['Fatal'].apply(lambda x: "N" if x == "M" else x)
sharks['Fatal'] = sharks['Fatal'].apply(lambda x: "N" if x == "2017" else x)

8.- In order to clean the country information, we are going to put homogeneity in the data by capitalizing all the inputs. We mark as "UNKNOWN" when a cell is between two countries, as we don't know with precision the country. The same applies when there is a question mark. We also group the "COAST OF AFRICA" values as "AFRICA". Lastly, all NaN are marked as "UNKNOWN".

In [16]:
sharks['Country'].fillna("UNKNOWN",inplace=True) 
sharks['Country'] = sharks['Country'].apply(lambda x: x.upper())
sharks['Country'] = sharks['Country'].apply(lambda x: "UNKNOWN" if ("/" in list(x)) else x)
sharks['Country'] = sharks['Country'].apply(lambda x: "UNKNOWN" if ("?" in list(x)) else x)
sharks['Country'] = sharks['Country'].apply(lambda x: "AFRICA" if x=="COAST OF AFRICA" else x)

9.- For the rest of columns (except the "Species" column, that we are going to treat in the following section), we fill NaN values with "Unknown".

In [17]:
sharks['Investigator or Source'].fillna("Unknown",inplace=True)
sharks['Area'].fillna("Unknown",inplace=True) 
sharks['Location'].fillna("Unknown",inplace=True) 
sharks['Time'].fillna("Unknown",inplace=True) 
sharks['Name'].fillna("Unknown",inplace=True) 
sharks['Age'].fillna("Unknown",inplace=True)

10.- Lastly, we are going to clean the "Species" columns. With the help of regex, we are going to replace the string of the description with the name of the species, if available. If not, we are going to mark it with "Unknown", just as the NaN values. In addition, there are inputs that shows that some events are not related with sharks attacks, or it i not confirmed, so we are going to lable them as "Questionable".

In [18]:
def clean_species(string):
    #List with species appearing in the different columns
    species = ["wobbegong","tiger","bull","grey","nurse","cookiecutter","spinner","white","sandtiger",
               "eeef","bronze whaler","galapagos","blacktip","hammerhead","mako","blue","salmon","porbeagle",
               "raggedtooth","zambesi","whitetip","lemon","thresher","sandtiger","spurdog","reef"
               ,"bronze whale","seven-gill","sevengill","angel","goblin","sandbar","copper","whaler"
               ,"dusky","leopard","sand","zambezi","silky","whale","dog","blackfin","albimarginatus"
               ,"carpet","broadnose","bonita","scyliorhinus canicula","cow","cookie cutter","smoothhound"
               ,"basking","catsharks","hooked","carcharhinid","gaffed","silvertip"]
    #Trigger strings to labble events as questionable
    doubts = ["hoax","not confirmed","invalid incident","questionable","not a shark","doubtful"
            "no shark","not cofirmed","unconfired","unconfirmed","could not be determined","stunt"]    
    
    #For loop to replace the string with the name of the shark species
    for shark in species:
        if re.search(shark,string.lower()):
            return shark.capitalize()
    
    #For loop to lable the questionable incidents
    for doubt in doubts:
        if re.search(doubt,string.lower()):
            return "Questionable"
    
    #If there is no clear information about the shark, return Unknown
    return "Unknown"

sharks['Species'].fillna("Unknown",inplace=True) 
sharks['Species'] = sharks['Species'].apply(clean_species)

As the questionable rows are only a few, we can drop them off the database without biasing our analysis, so we can obtain more reliable results.

In [19]:
sharks[sharks['Species'] == "Questionable"].shape

(386, 20)

In [20]:
sharks=sharks[sharks['Species'] != "Questionable"]

Now let's save the clean dataset into a CSV file.

In [21]:
sharks.to_csv(r'../shark-attack/attacks_clean.csv')

The visualization and analysis of the cleaned dataset is detailed in the data-wrangling notebook.